html{
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 80%;
	max-width: 1200px;
	margin: auto;
}
h1,h2,h3,h4,h5,h6{
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
#myTextarea{
	width: 100%;
	border: solid gray 1px;
	border-radius: 5px;
}
input[type=button]{
	background-color: #fff;
	border: solid #aaa 1px;
	border-radius: 5px;
	font-size: 1.1rem;
}
input[type=button]:hover{
	background-color: #ddd;
	border: solid #666 1px;
}
@media screen and (min-width: 1024px){
	#indiv{
		float: left;
		display: inline-block;
		width: 40%;
	}
	#outdiv{
		display: inline-block;
		margin-left: 10%;
		width: 40%;
	}
}